<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Asrfly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Asrfly.Properties.Settings>
            <setting name="SqlServerConnectionString" serializeAs="String">
                <value>Server=.\SQLEXPRESS;Database=AsrflyDataBase;Trusted_Connection=True;</value>
            </setting>
        </Asrfly.Properties.Settings>
    </userSettings>
</configuration>